<div class="container">
  <div class="sidebar">
    <nav>
      <li><button type="button" (click)="homeClick()" [ngStyle]="{'color': home ? '#cb3cff' : 'white'}">Home</button></li>
      <li><button type="button" (click)="managerClick()" [ngStyle]="{'color': allmanagers ? '#cb3cff' : 'white'}">Manager</button></li>
      <li><button type="button" (click)="timeSheet()" [ngStyle]="{'color': timesheet ? '#cb3cff' : 'white'}">Time Sheet</button></li>
      <li><button type="button" (click)="userClick()" [ngStyle]="{'color': allusers ? '#cb3cff' : 'white'}">Users</button></li>
      <li><button type="button" (click)="projectClick()" [ngStyle]="{'color': project ? '#cb3cff' : 'white'}">Projects</button></li>
    
      <li><button type="button" (click)="leaveClick()" [ngStyle]="{'color': leave ? '#cb3cff' : 'white'}">Leave</button></li>
      <li><button type="button" (click)="logoutClick()">Logout</button></li>
    </nav>
</div>
<div class="main">
  <div class="items" *ngIf="home">
    <h3>
      <label >Admin in Your Company </label>
      <label ><a [routerLink]="['/register']" [queryParams]="{name: createadmin}"
          class="btncreate">Create Admin</a></label>
    </h3>
    <table *ngIf="admins && admins.length" border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Company Name</th>
          <th>Address</th>
          <th>GST</th>
          <th>Admin Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admin of admins">
          <td>{{ admin.id }}</td>
          <td>{{ admin.companyname }}</td>
          <td>{{ admin.address }}</td>
          <td>{{ admin.gst }}</td>
          <td>{{ admin.adminname }}</td>
          <td class="btn">
            <button type="button" class="view"
              (click)="navigateToView(admin, 'admin')">View</button>
            <button type="button" class="delete"
              (click)="deleteAdmin(admin.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!admins || !admins.length">No admins found.</p>
  </div>

  <div class="items" *ngIf="allmanagers">
    <h3>
      <label for>Manager in Your Company </label>
      <label for><a [routerLink]="['/register']" [queryParams]="{name: manager}"
          class="btncreate">Create Manager</a></label>
    </h3>
    <table *ngIf="managers && managers.length" border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let manager of managers">
          <td>{{ manager.id }}</td>
          <td>{{ manager.name }}</td>
          <td>{{ manager.email }}</td>
          <td>{{ manager.role }}</td>
          <td class="btn">
            <button type="button" class="view"
              (click)="navigateToView(manager, 'manager')">View</button>
            <button type="button" class="delete"
              (click)="deleteManager(manager.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!managers || !managers.length">No managers found.</p>
  </div>

  <div class="home" *ngIf="timesheet">
    <div class="items">
    <h3>
      <label for>Manager's TimeSheet </label>
      
    </h3>
    <table  border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Project Name</th>
          <th>Title</th>
          <th>Description</th>
          <th>TimeTaken</th>
          <th>Date</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let info of managersheet">
          <td>{{info.managername}}</td>
          <td>{{ info.projectname }}</td>
          <td>{{info.title}}</td>
          <td>{{info.desc}}</td>
        
          <td>{{info.timetaken}}</td>
          <td>{{info.createdAt | date: 'yyyy-MM-dd'}}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!managers || !managers.length">No managers found.</p>
  </div>
  <div class="items"  *ngIf="allusers">
    <h3>
      <label for>Users in Your Company </label>
      <label for><a [routerLink]="['/register']" [queryParams]="{name: user}"
          class="btncreate">Create User</a></label>
    </h3>
    <table   *ngIf="users && users.length" border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Salary</th>
          <th>Manager</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.salary }}</td>
          <td>{{ user.managerName }}</td>
          <td class="btn">
            <button type="button" class="view"
              (click)="navigateToView(user, 'user')">View</button>
            <button type="button" class="delete"
              (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!users || !users.length">No users found.</p>
  </div>
 

  <div class="items" *ngIf="leave">
    <h3>
      <label for>Leave in Your Company </label>

    </h3>
    <table *ngIf="admins && admins.length" border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>user Name</th>
          <th>email</th>
          <th>status</th>

          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let managerleave of mleave">
          <td>{{ managerleave.id }}</td>
          <td>{{ managerleave.username }}</td>
          <td>{{ managerleave.email }}</td>
          <td>{{ managerleave.status }}</td>

          <td class="btn">
            

            <div *ngIf="managerleave.status === 'pending'">
              <button type="button" class="view"
                (click)="grantLeave(managerleave.id)">Grant</button>
              <button type="button" class="delete"
                (click)="denyLeave(managerleave.id)">Deny</button>
            </div>

            <div *ngIf="managerleave.status !== 'pending'">
              Not Available
            </div>

          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!admins || !admins.length">No admins found.</p>
  </div>


<div class="items"  *ngIf="project">
  <h3>
    <label for>Project in Your Company </label>
    <label for><a [routerLink]="['/register']" [queryParams]="{name: createproject}"
        class="btncreate">Create Project</a></label>
  </h3>
  <table *ngIf="managers && managers.length" border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Manager</th>
        <th>Desc</th>
        <th>DeadLine</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of getproject">
        <td>{{ project.id }}</td>
        <td>{{ project.projectname }}</td>
        <td>{{ project.managername }}</td>
        <td>{{ project.desc }}</td>
        <td>{{ project.deadline |date:'yyyy-MM-dd' }}</td>
       
      </tr>
    </tbody>
  </table>
  <p *ngIf="!getproject || !getproject.length">No Project found.</p>
</div>
</div>
</div>
</div>