.container {
    width: 100%;
    background-color: #081028;
    color: #cb3cff;
    height: 93vh;
}

.ndashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 15%;
 
    flex-direction: column;
    text-align: center;
}

.ndashboard h1 {
    font-family:'cursive';
    font-size: 50px;
}

.btndiv {
    margin-top: 2%;

    width: 100%;
}

.btndiv a {

    text-decoration: none;
}

.btn {
    margin: 1% 3% 0% 0%;
    border: none;
    padding: 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.footer {
    text-align: center;
    width: 100%;
    align-items: center;

    justify-content: center;
    display: flex;
    margin-top: 5%;
}

.home {
    width: 50%;
    padding-top: 15%;
    /* box-shadow: 10px 10px 10px#cb3cff; */
    margin-left: 20%;
    background-color: #0b1739;
    display: flex;
    border-radius: 10px;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home div {
    width: 90%;
    margin-left: 5%;
    display: flex;
    padding-bottom: 5px;
   
}

.btn {
    background-color: #0b1739;
    border: 1px solid #cb3cff;
    color: white;
    cursor: pointer;
    margin-top: 20px;

    padding: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #cb3cff;
    color: white;
}