
<div class="container" *ngIf="name === 'manager'">
  <div class="sidebar">
      <nav>
        <li><button type="button" (click)="homeClick()" [ngStyle]="{'color': home ? '#cb3cff' : 'white'}">Home</button></li>
        <li><button type="button" (click)="projectClick()" [ngStyle]="{'color': project ? '#cb3cff' : 'white'}">Projects</button></li>
        <li><button type="button" (click)="managerSheetClick()" [ngStyle]="{'color': managerSheetMenu ? '#cb3cff' : 'white'}">Time Sheet</button></li>
        <li><button type="button" (click)="manageruserSheetClick()" [ngStyle]="{'color': manageruserSheetMenu ? '#cb3cff' : 'white'}">Employee's Time Sheet</button></li>
        <li><button type="button" (click)="employeeClick()" [ngStyle]="{'color': employee ? '#cb3cff' : 'white'}">Employee</button></li>
        <li><button type="button" (click)="yourleaveClick()" [ngStyle]="{'color': yourleave ? '#cb3cff' : 'white'}">Your Leave</button></li>
        <li><button type="button" (click)="leaveClick()" [ngStyle]="{'color': leave ? '#cb3cff' : 'white'}"> Leave</button></li>
        <li><button type="button" (click)="logoutClick()">Logout</button></li>
      </nav>
  </div>
  <div class="main">
    <div class="home" *ngIf="home">
    <h1>Manager</h1>
  
        <!-- <div>ID: {{ name.id }}</div> -->
        <div>
          <label>Company:</label>
          <label >{{manager.companyname}}</label>
        </div>
        <div>
          <label>Name:</label>
          <label >{{manager.name}}</label>
        </div>
        <div>
          <label>Email:</label>
          <label >{{manager.email}}</label>
        </div>
        <div>
          <label>Role: </label>
          <label >{{manager.role}}</label>
        </div>
        <div>
          <label>Password: </label>
          <label >{{manager.password}}</label>
        </div>
        <!-- <div>
            <label>Users:</label>
            <div *ngFor="let user of result"> 
              <label *ngIf="user.managerName === manager.name" >
                <span>{{user.name}}</span>
              </label>
             </div>
          </div> -->
          
          <section class="btndiv">
        <!-- <button name="button" class="btn" (click)="navigateToCompany()">Go Back</button> -->
        <button name="submit" class="btn" (click)="navigateToView(manager,'manager')">Update</button>
    </section>
    
  </div>
  <div class="leave" *ngIf="project">
    <div class="items">
      <h1>
        <label>Project's</label>
      </h1>
      <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Desc</th>
            <th>DeadLine</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of managerproject">
            <td>{{ project.id }}</td>
            <td>{{ project.projectname }}</td>
            <td>{{ project.desc }}</td>
            <td>{{ project.deadline | date: 'yyyy-MM-dd' }}</td>
            <td class="action" >
              <div   *ngIf="!projectTeamStatus[project.projectname]">
                <button type="button" class="grant" (click)="createTeam(project.projectname)">Create Team</button>
              </div>
              <div  *ngIf="projectTeamStatus[project.projectname]">
                <button type="button" class="grant" (click)="navigateToManagerSheet(project.projectname)">Submit Timesheet</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
    <div class="leave" *ngIf="employee">
      <div class="items">
        <h1>
          <label>Employees's</label>
        </h1>
        
        <table  border="1">
          <thead>
            <tr class="row">
              <th>ID</th>
              <th>Employee Name</th>
            
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row" *ngFor="let user of result">
              <td> <label *ngIf="user.managerName === manager.name" >
                <span>{{user.id}}</span>
              </label></td>
              <td>  <label *ngIf="user.managerName === manager.name" >
                <span>{{user.name}}</span>
              </label></td>
              
              <td class="action">
                
    
                <div *ngIf="user.managerName === manager.name"  >
                  <button type="button" class="view"  (click)="navigateToUserView(user, 'user')"
                  
                  >View</button>
                  
                </div>
    
                
    
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

  <div class="leave" *ngIf="leave">
    <div class="items">
      <h1>
        <label for>Employee's Leave</label>
  
      </h1>
      <table  border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>user Name</th>
            <th>email</th>
            <th>status</th>
            <th>date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userleave of uleave">
            <td>{{ userleave.id }}</td>
            <td>{{ userleave.username }}</td>
            <td>{{ userleave.email }}</td>
            <td>{{ userleave.status }}</td>
            <td>{{userleave.date |date:'yyyy-MM-dd' }}</td>
            <td class="action">
              
  
              <div *ngIf="userleave.status === 'pending'">
                <button type="button" class="grant"
                  (click)="grantLeave(userleave.id)">Grant</button>
                <button type="button" class="deny"
                  (click)="denyLeave(userleave.id)">Deny</button>
              </div>
  
              <div *ngIf="userleave.status !== 'pending'">
                Not Available
              </div>
  
            </td>
          </tr>
        </tbody>
      </table>
     
    </div>
  </div>
  <div class="leave" *ngIf="managerSheetMenu">
    <div class="items">
      <h1>
        Time Sheets's
      </h1>
      
      <table  border="1">
        <thead>
          <tr>
            
            <th>Project Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>TimeTaken</th>
            <th>Date</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let info of managerTimeSheet">
            
            <td>{{ info.projectname }}</td>
            <td>{{info.title}}</td>
            <td>{{info.desc}}</td>
          
            <td>{{info.timetaken}}</td>
            <td>{{info.createdAt | date: 'yyyy-MM-dd'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
   
  </div>
  <div class="leave" *ngIf="manageruserSheetMenu">
    <div class="items">
    <h1>
      User Time Sheets's
    </h1>
    
    <table  border="1">
      <thead>
        <tr>
          
          <th>Project Name</th>
          <th>Title</th>
          <th>Description</th>
          <th>TimeTaken</th>
          <th>Date</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let info of usersTimeSheet">
          
          <td>{{ info.projectname }}</td>
          <td>{{info.title}}</td>
          <td>{{info.desc}}</td>
        
          <td>{{info.timetaken}}</td>
          <td>{{info.createdAt | date: 'yyyy-MM-dd'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <div class="yourleave" *ngIf="yourleave">
    <div class="available">
     
        
          <h1>
            <label for>Your Leave </label>
      
          </h1>
          <table border="1">
            <thead>
              <tr>
                <th>ID</th>
                <th>user Name</th>
                <th>email</th>
                <th>status</th>
                <th>date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let managerleave of available">
                <td>{{ managerleave.id }}</td>
                <td>{{ managerleave.username }}</td>
                <td>{{ managerleave.email }}</td>
                <td>{{ managerleave.status }}</td>
                <td>{{managerleave.date | date:'yyyy-MM-dd'}}</td>
              
              </tr>
            </tbody>
          </table>
       
        </div>
        <div class="applyleave">
          <div class="apply ">
           
            <form [formGroup]="applyleave" (ngSubmit)="onSubmit()">
              <h1>Apply For Leave</h1>
              <input type="text" [placeholder]="manager.name" [disabled]="isDisable">
              <input type="text" [placeholder]="manager.email" [disabled]="isDisable">
              <input type="date" formControlName="date" [min]="today">
              <button type="submit" class="submitbtn">Submit</button>
            </form>
          </div>
        </div>
    </div>
    
  </div>
  </div>
  
  <div class="container" *ngIf="name === 'user'">
    <div class="sidebar">
      <nav>
        <li><button type="button" (click)="userhomeClick()">Home</button></li>
        <li><button type="button" (click)="userprojectClick()">Projects</button></li>
        <li><button type="button" (click)="userTimeClick()">Time Sheets</button></li>
        <li><button type="button" (click)="useryourleaveClick()">Your Leave</button></li>
       
        <li><button type="button" (click)="logoutClick()">Logout</button></li>
      </nav>
    </div>
    <div class="main">
      <div class="home" *ngIf="userhome">
    <h1>Employee</h1>
    <div>
      <label>Company:</label>
      <label >{{user.companyname}}</label>
    </div>
      <div>
        <label>Name:</label> 
        <label >{{user.name}}</label>
      </div>
      <div>
        <label>Email: </label>
        <label >{{user.email}}</label>
      </div>
      <div>
        <label>Salary: </label> 
        <label >{{user.salary}}</label>
      </div>
      <div>
        <label>Manager Name:</label>
        <label > {{user.managerName}}</label>
      </div>
      <section class="btndiv">
      <!-- <button name="button" class="btn" (click)="navigateToCompany()">Go Back</button> -->
      <button name="submit" class="btn" (click)="navigateToView(user,'user')">Update</button>
      </section>
    </div>
      <div class="yourleave" *ngIf="useryourleave">
        <div class="available">
         
            
              <h1>
                <label for>Your Leave </label>
          
              </h1>
              <table border="1">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>user Name</th>
                    <th>email</th>
                    <th>status</th>
                    <th>date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let userleave of useravailable">
                    <td>{{ userleave.id }}</td>
                    <td>{{ userleave.username }}</td>
                    <td>{{ userleave.email }}</td>
                    <td>{{ userleave.status }}</td>
                    <td>{{userleave.date | date:'yyyy-MM-dd'}}</td>
                  
                  </tr>
                </tbody>
              </table>
           
            </div>
            <div class="applyleave">
              <div class="apply ">
               
                <form [formGroup]="userapplyleave" (ngSubmit)="onUserSubmit()">
                  <h1>Apply For Leave</h1>
                  <input type="text" [placeholder]="user.name" [disabled]="isDisable">
                  <input type="text" [placeholder]="user.email" [disabled]="isDisable">
                  <input type="date" formControlName="date" [min]="today">
                  <button type="submit" class="submitbtn">Submit</button>
                </form>
              </div>
            </div>
        </div>
        <div class="leave" *ngIf="userproject">
          <div class="items">
            <h1>
              Project's
            </h1>
            
            <table  border="1">
              <thead>
                <tr>
                  
                  <th>Project Name</th>
                 
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of userProjects">
                  
                  <td>{{ project }}</td>
                  <td><button class="btn" (click)="navigateToSheet(project)">Submit TimeSheet</button></td>
                  
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          <div class="leave" *ngIf="userSheetMenu">
            <div class="items">
              <h1>
                Time Sheets's
              </h1>
              
              <table  border="1">
                <thead>
                  <tr>
                    
                    <th>Project Name</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>TimeTaken</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let info of userTimeSheet">
                    
                    <td>{{ info.projectname }}</td>
                    <td>{{info.title}}</td>
                    <td>{{info.desc}}</td>
                  
                    <td>{{info.timetaken}}</td>
                   <td>{{info.createdAt | date: 'yyyy-MM-dd'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

  </div> 
   <div class="usersheet" *ngIf="userSheet">
    <div>
    <form [formGroup]="sendUserTimeSheet" (ngSubmit)="userTimeSubmit()">
      <h1>Time Sheet</h1>
      <label [ngStyle]="{'color': response === 'Your time sheet has been sent' ? 'green' : 'red'}" >{{ response }}</label>

      <!-- <input type="text" [placeholder]="user.name" [disabled]="isDisable"> -->
      <input type="text" [placeholder]="selectedProject" [disabled]="isDisable">
      <input type="text" name="" id="" formControlName="title" placeholder="Title">
      <input type="text" name="" id="" formControlName="desc" placeholder="Description">
      <input type="number" name="" id="" formControlName="timetaken" placeholder="TimeTaken">
      <div class="btndiv">
      <button type="submit" class="grant">Send</button>
      <button type="button" class="deny" (click)="closeModal()">Close</button>
    </div>
    </form>
  </div>
   </div>

   <div class="usersheet" *ngIf="managerSheet">
    <div>
    <form [formGroup]="sendManagerTimeSheet" (ngSubmit)="managerTimeSubmit()">
      <h1>Time Sheet</h1>
      <label [ngStyle]="{'color': response === 'Your timesheet has been sent !' ? 'green' : 'red'}" >{{ response }}</label>

      <!-- <input type="text" [placeholder]="user.name" [disabled]="isDisable"> -->
      <input type="text" [placeholder]="selectedProject" [disabled]="isDisable">
      <input type="text" name="" id="" formControlName="title" placeholder="Title">
      <input type="text" name="" id="" formControlName="desc" placeholder="Description">
      <input type="number" name="" id="" formControlName="timetaken" placeholder="TimeTaken">
      <div class="btndiv">
      <button type="submit" class="grant">Send</button>
      <button type="button" class="deny" (click)="closeModal()">Close</button>
    </div>
    </form>
  </div>
   </div>