
<div class="container" *ngIf="name === 'manager'">
    <h1>Manager</h1>
  
        <!-- <div>ID: {{ name.id }}</div> -->
        <div>
          <label>Name:</label>
          <label >{{manager.name}}</label>
        </div>
        <div>
          <label>Email:</label>
          <label >{{manager.email}}</label>
        </div>
        <div>
          <label>Role: </label>
          <label >{{manager.role}}</label>
        </div>
        <div>
          <label>Password: </label>
          <label >{{manager.password}}</label>
        </div>
        <div>
            <label>Users:</label>
            <section *ngFor="let user of result"> 
              <div *ngIf="user.managerName === manager.name">
                <label>{{user.name}}</label>
              </div>
             </section>
          </div>
          
          <div class="btndiv">
        <button name="button" class="btn" (click)="navigateToCompany()">Go Back</button>
        <button name="submit" class="btn" (click)="navigateToView(manager,'manager')">Update</button>
    </div>
  </div>
  
  <div class="container" *ngIf="name === 'user'">
    <h1>User</h1>
   
      <div>
        <label>Name:</label> 
        <label >{{user.name}}</label>
      </div>
      <div>
        <label>Email: </label>
        <label >{{user.email}}</label>
      </div>
      <div>
        <label>Salary: </label> 
        <label >{{user.salary}}</label>
      </div>
      <div>
        <label>Manager Name:</label>
        <label > {{user.managerName}}</label>
      </div>
      
      <button name="button" class="btn" (click)="navigateToCompany()">Go Back</button>
      <button name="submit" class="btn" (click)="navigateToView(user,'user')">Update</button>
     
  </div>
  