.container{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;

    color: white;
    background-color: #081028;
    justify-content: center;
    height:93vh;
}
.container form{
    padding: 5%;
    
    margin-top: 5%;
  
    border-radius: 10px;
    border: 1px solid #cb3cff;
}
.items{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.items input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
.btn{
    margin-top: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0b1739;
    cursor: pointer;
    border: 1px solid #cb3cff;
    color: white;
}
.btn:hover{
    background-color: #cb3cff;
    
  }
.account{
    background-color: #081028;
    color: white;
    border: none;
    font-size: 15px;
    margin-top: 15px;
}
.account:hover{
    cursor: pointer;
}