.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    color: #cb3cff;
    background-color: #081028;
}
div h1{
  margin-bottom: 2%;
  text-align: center;
  width: 100%;
}
.container h2{
    margin-top: 10px;
}
.btn{
  background-color: #0b1739;
  border: 1px solid #cb3cff;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    width: 20%;
    padding: 10px;
    margin-left: 5%;
    border-radius: 5px;
}
.btn:hover{
  background-color: #cb3cff;
  color: white;
}
.btndiv{
  display: flex;
  align-items: center;
  background-color: red;
  justify-content: space-around;
  
   width: 100%;
  /* margin-left: 15%; */
}
.container form{
    width: 40%;
    margin-top: 3%;
    padding: 3%;
    border-radius: 15px;
    border: 1px solid #cb3cff;
    display: flex;
    margin-left: 30%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
  }
  .container form div{
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
  .container form div label{
    width: 50%;
  }
  input {
    width: 100%;
    border-radius: 10px;
    padding: 8px;
    margin-top: 5px;
  }
  .btndiv{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
  }