.container{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #081028;
    justify-content: center;
    height: 95vh;
}
.container form{
    padding: 5%;
    background-color: #0b1739;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px#cb3cff;
    color:white;
    border: 1px solid #cb3cff;
}
.items{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.items input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
.btn{
    background-color: #0b1739;
    border: 1px solid #cb3cff;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5%;
    padding: 10px;
    border-radius: 5px;
}
.btn:hover{
  background-color: #cb3cff;
  color: white;
}